﻿@model List<BookStore.ViewModels.BookIndexViewModel>
@{
    ViewBag.Title = "Inicio";
}

@Html.Partial("_Menu", new ViewDataDictionary { { "item", ViewBag.item = "inicio" } });

<div class="container mb-5">
    @if (Model.Count == 0)
    {
        <div class="alert alert-warning d-flex justify-content-center align-items-center mTop6Rem">
            <h1 class="h1 text-center">¡No hay libros registrados aún, ve a la pestaña "Libros" e ingresa alguno!</h1>
        </div>
    }
    else
    {
        <div class="container mTop5rem mb-3 p-0" id="mainTitle">
            <h1 class="h1">Bienvenido a la biblioteca</h1>
        </div>

        <div class="row" id="bookCardsContainer">
            @foreach (var book in Model)
            {
                <div class="mb-4 bookCard col-sm-6 col-md-4 col-lg-4 p-2">
                    <div class="card">
                        <img src="@book.bookImagePath" class="card-img-top bookCard__img" alt="@book.bookName">
                        <div class="card-body">
                            <h5 class="card-title">@book.bookName</h5>
                            <p class="card-text">@book.bookDescription</p>
                            <div class="d-flex justify-content-end">
                                <a href="libro/buscar/@book.bookId" class="btn btn-primary">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section scripts{
    <script src="~/Content/scripts/jquery.paginate.js"></script>
    <script src="~/Content/scripts/active-jquery-paginate.js"></script>
}
