﻿/* Style of a selected row*/
.row-selected {
    background-color: #ccc !important;
}

/* Style of the color of the icons */
.icon-bgWhite {
    color: #ffffff;
}

.icon-bgBlack {
    color: #000;
}

.icon-info-circle {
    border: 1px solid #17a2b8;
    border-radius: 50%;
    background-color: #17a2b8;
}

.icon-mr7 {
    margin-right: 7px;
}

/*Css styles to style the customs errors*/
.field-validation-error {
    color: #dc3545;
}

.input-validation-error {
    border: 1px solid #dc3545;
}

/* Style of the 404 page */
.container-404 {
    min-height: 100vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .container-404__title {
        font-size: 12rem;
    }

    .container-404__server-code {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
    }

    .container-404__message {
        font-size: 0.7rem;
        width: 470px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    }

    .container-404__go-to-home {
        font-size: 0.7rem;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

/* Styles of feedback message */
.feedback {
    position: fixed;
    bottom: 1rem;
    right: 0;
    z-index: 100;
    width: auto;
    text-align: center;
    transition: all ease-in-out 0.3s;
    background-color: #00D379;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

    .feedback.active {
        right: 1rem;
        padding: 1rem;
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }

/* Modal window styles */
.modalWindow {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2000;
    transform: translateY(-100%);
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    transition: all ease-in-out 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .modalWindow.active {
        transform: translateY(0);
    }

    .modalWindow__bodyModal {
        width: 40%;
        height: 170px;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .modalWindow__titleModal {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 1.4rem;
    }

    /*.modalWindow__btnContainer {
        
    }*/

    .modalWindow__btnClose {
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -28px;
        right: -18px;
        color: #000;
        cursor: pointer;
        font-weight: bold;
        font-size: 22px;
    }

    .modalWindow__marginSeparate {
        margin-left: 7px;
        margin-right: 7px;
    }

.bookCard {
    padding: 0;
}

    .bookCard__img {
        height: 250px;
        object-fit: cover;
    }

.mTop6Rem {
    margin-top: 7rem;
}

.mTop5rem {
    margin-top: 5rem;
}

.boxShadowMenu {
    box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2);
}

/* Book Search Details */
.bookImgContainer {
    height: 35rem;
}

    .bookImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

.strongLabel {
    font-weight: bold;
}

.disabled-input {
    border: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #eee;
}

.img-profile {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border: 2px solid #6c757d;
    border-radius: 50%;
}

.link-visited, .link-visited:visited {
    color: #000;
}

.link-underline:hover {
    text-decoration: underline;
}

.nav-item, .nav-link {
    color: #000;
}

.nav-item.active {
    background-color: #6c757d;
    border-radius: 7px;
}

.nav-item.active, .nav-link.active {
    color: #fff;   
}

@media screen and (max-width: 768px) {
    .footer-header {
        display: flex;
        justify-content: center;
    }

    .footer-body {
        justify-content: center !important;
    }

    .controls-container {
        justify-content: center !important;
    }

    .text-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-404__title {
        font-size: 9rem;
    }
}

@media screen and (max-width: 520px) {
    .container-404__title {
        font-size: 7rem;
    }

    .container-404__server-code {
        font-size: 1.4rem;
    }

    .container-404__message {
        width: 320px;
    }
}

@media screen and (max-width: 420px) {
    .container-404__title {
        font-size: 5rem;
    }

    .container-404__server-code {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 320px) {
    .container-404__title {
        font-size: 4rem;
    }

    .container-404__server-code {
        font-size: 1rem;
    }

    .container-404__message {
        width: 260px;
    }
}

.main-container {
    min-height: 100vh;
}

.footer {
    width: 100%;
    align-self: flex-end;
}

.text-area-no-resizable {
    resize: none;
}