﻿@model BookStore.ViewModels.BookFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Buscar libro";
}

@Html.Partial("_Menu", new ViewDataDictionary { { "item", ViewBag.item = "libros" } });

<div class="container mTop6Rem mb-4">
    <div class="row">
        <figure class="col-sm-6 col-md-6 col-xl-4 bookImgContainer">
            <img src="@Model.book.bookImagePath" class="bookImg" />
        </figure>
        <div class="col-sm-6 col-md-6 col-xl-8">
            <h1 class="h1">@Model.book.bookName</h1>
            <div class="form-group">
                @Html.LabelFor(b => b.book.bookCategoryId, new { @class = "strongLabel" })
                @Html.DropDownListFor(b => b.book.bookCategoryId, new SelectList(Model.categories, "categoryId", "categoryName"), "", new { @class = "form-control disabled-input" })
            </div>
            <div class="form-group">
                @Html.LabelFor(b => b.book.bookClasificationId, new { @class = "strongLabel" })
                @Html.DropDownListFor(b => b.book.bookClasificationId, new SelectList(Model.clasifications, "clasificationId", "clasificationName"), "", new { @class = "form-control disabled-input" })
            </div>
            <div class="form-group">
                @Html.LabelFor(b => b.book.bookYear, new { @class = "strongLabel" })
                @Html.TextBoxFor(b => b.book.bookYear, new { @class = "form-control disabled-input" })
            </div>
            <div class="form-group">
                @Html.LabelFor(b => b.book.bookAuthor, new { @class = "strongLabel" })
                @Html.TextBoxFor(b => b.book.bookAuthor, new { @class = "form-control disabled-input" })
            </div>
            <div class="form-group">
                @Html.LabelFor(b => b.book.bookDescription, new { @class = "strongLabel" })
                @Html.TextAreaFor(b => b.book.bookDescription, new { @class = "form-control text-area-no-resizable disabled-input" })
            </div>
            <div class="form-group d-flex justify-content-end mt-4">
                <a class="btn btn-primary" href="/"><i class="icon-left-big icon-mr7"></i>Regresar</a>
            </div>
        </div>
    </div>
</div>

