﻿@model List<BookStore.ViewModels.BookCategoryClasificationViewModel>
@{
    ViewBag.Title = "Lista de libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Menu", new ViewDataDictionary { { "item", ViewBag.item = "libros" } });

<div class="container mTop6Rem mb-5">
    <h2>Lista de libros</h2>

    <div class="d-flex justify-content-end mb-3 controls-container">
        <a class="btn btn-primary mr-2" href="@Url.Action("nuevo","libro")" data-toggle="tooltip" data-placement="top" title="Nuevo libro"><i class="icon-plus icon-bgWhite"></i></a>
        <a class="btn btn-primary mr-2 disabled" id="seeBook" data-toggle="tooltip" data-placement="top" title="Ver libro"><i class="icon-eye icon-bgWhite"></i></a>
        <a class="btn btn-primary mr-2 disabled" id="editBook" data-toggle="tooltip" data-placement="top" title="Editar libro"><i class="icon-pencil icon-bgWhite"></i></a>
        <a class="btn btn-primary mr-2 disabled" id="deleteBook" data-toggle="tooltip" data-placement="top" title="Eliminar libro"><i class="icon-trash icon-bgWhite"></i></a>
    </div>

    @if (Model.Count == 0)
    {
        <div class="alert alert-warning d-flex justify-content-center align-items-center">
            <h1>¡No hay registros que mostrar!</h1>
        </div>
    }
    else
    {
        <table class="table table-hover table-bordered" id="bookTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Clasificación</th>
                    <th scope="col">Año</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var book in Model)
                {
                    <tr>
                        <th scope="row">@book.bookId</th>
                        <td>@book.bookName</td>
                        <td>@book.bookCategory</td>
                        <td>@book.bookAuthor</td>
                        <td>@book.bookClasification</td>
                        <td>@book.bookYear</td>
                    </tr>
                }
            </tbody>
        </table>
        <small class="text-info font-italic"><i class="icon-info icon-info-circle icon-bgWhite icon-mr7"></i>Seleccione un registro para activar los controles.</small>
    }
</div>

@if (TempData["SucessMessage"] != null)
{
    <div class="feedback" id="sucessMessage">@TempData["SucessMessage"]</div>
}

<div class="modalWindow" id="modalWindow">
    <div class="modalWindow__bodyModal">
        <span class="modalWindow__btnClose" id="btnCloseModal"><i class="icon-cancel"></i></span>
        <p class="modalWindow__titleModal">¿Desea eliminar el libro seleccionado?</p>
        <div class="modalWindow__btnContainer">
            <button class="btn btn-danger modalWindow__marginSeparate" id="btnModalCancelar"><i class="icon-cancel"></i>Cancelar</button>
            <button class="btn btn-primary modalWindow__marginSeparate" id="btnModalAceptar"><i class="icon-floppy"></i>Aceptar</button>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/scripts/datatables.js"></script>
    <script src="~/Content/scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Content/scripts/GetSelectedRowLibrary.js"></script>
    <script src="~/Content/scripts/ctrlBooks.js"></script>
    <script src="~/Content/scripts/customDataTable.js"></script>
}
