﻿@model BookStore.ViewModels.BookFormViewModel
@{
    ViewBag.Title = "Formulario libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Menu", new ViewDataDictionary { { "item", ViewBag.item = "libros" } });

<div class="container mTop6Rem mb-4">
    <h2>@Model.formTitle</h2>

    @using (Html.BeginForm("guardar", "libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "¡Por favor, atienda a los siguientes errores para procesar su solicitud!", new { @class = "alert alert-danger d-flex justify-content-center align-items-center", role = "alert" });
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookName, new { @class = "strongLabel" })
            @Html.TextBoxFor(m => m.book.bookName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.book.bookName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookCategoryId, new { @class = "strongLabel" })
            @Html.DropDownListFor(m => m.book.bookCategoryId, new SelectList(Model.categories, "categoryId", "categoryName"), "Selecciona una categoría", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.book.bookCategoryId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookAuthor, new { @class = "strongLabel" })
            @Html.TextBoxFor(m => m.book.bookAuthor, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.book.bookAuthor)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookClasificationId, new { @class = "strongLabel" })
            @Html.DropDownListFor(m => m.book.bookClasificationId, new SelectList(Model.clasifications, "clasificationId", "clasificationName"), "Selecciona una clasificación", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.book.bookClasificationId)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookYear, new { @class = "strongLabel" })
            @Html.TextBoxFor(m => m.book.bookYear, "{0:#}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.book.bookYear)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookDescription, new { @class = "strongLabel" })
            @Html.TextAreaFor(m => m.book.bookDescription, new { @class = "form-control text-area-no-resizable" })
            @Html.ValidationMessageFor(m => m.book.bookDescription)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.book.bookImageFile, new { @class = "strongLabel" })
            @Html.TextBoxFor(m => m.book.bookImageFile, new { @class = "form-control", type = "file", name = "bookImageFile" })
        </div>
        <div class="form-group">
            @Html.HiddenFor(m => m.book.bookId, new { @class = "form-control" })
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group d-flex justify-content-end">
            <a class="btn btn-danger ml-2" href="@Url.Action("index","libro")"><i class="icon-cancel"></i>Cancelar</a>
            <button type="submit" class="btn btn-primary ml-2"><i class="icon-floppy"></i>Guardar</button>
        </div>
    }
</div>