﻿<footer class="bg-light p-2 footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 footer-header">
                <a class="navbar-brand link-visited" href="@Url.Action("Index","Home")">
                    <img src="~/Content/images/svg/icon-menu.svg" width="30" height="30" class="d-inline-block align-top" alt="Imagen de perfil">
                    Biblioteca de Libros
                </a>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-end align-items-center footer-body">
                <p class="m-0">Desarrollado por <a href="https://aldveq93.gitlab.io/portafolio/" class="link-visited link-underline" target="_blank"><strong>&#64;aldveq93</strong></a></p>
                <img src="~/Content/images/profile/aldo-profile.jpg" width="30" height="30" class="ml-2 img-profile d-inline-block align-top" alt=""/>
            </div>
        </div>
    </div>
</footer>
