﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca de libros | @ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/fontello.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Content/css/dataTables.bootstrap4.css")
    @Styles.Render("~/Content/css/jquery.paginate.css")
</head>
<body class="d-flex flex-wrap main-container">

    @RenderBody()

    @RenderPage("~/Views/Shared/_Footer.cshtml")

    @Scripts.Render("~/Content/scripts/jquery.js")
    @Scripts.Render("~/Content/scripts/popper.min.js")
    @Scripts.Render("~/Content/scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
