﻿<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top boxShadowMenu">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            <img src="~/Content/images/svg/icon-menu.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Biblioteca de Libros
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (ViewBag.item == "inicio")
                {
                    <li class="nav-item active">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")"><i class="icon-home icon-mr7"></i>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("index", "libro")"><i class="icon-book icon-mr7"></i>Libros</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="icon-home icon-mr7"></i>Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" href="@Url.Action("index", "libro")"><i class="icon-book icon-mr7"></i>Libros</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>






